

  
.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    padding: 22px;
    border: solid black 1px;
    border-radius: 8px;
}
  
.input-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}
  
.btn-form , .btn-card{
    width: 6rem;
    margin-top: 1rem;
    background-color: darkgray;
}

.home {
    display: flex;
    align-content: center;
    place-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 10px;
    margin-top: -2rem;
    justify-content: center;
}


.Detail-content {
    min-height: 60vh;
    margin-top: -2rem;
    padding-top: 2rem;
}

.Detail-table {
    width: 100%;
    border-collapse: collapse;
}
  
  /* Estilos adicionales según el tema (oscuro o claro) */

  .white {
    background-color: #fff !important;
    color: #000 !important;
  }

